<div class="inbox-compose">
  <div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
    <span>Import Account Type</span>
    <button matDialogClose mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" novalidate>
  <div class="content" mat-dialog-content fxLayout="column">
    <div fxLayout="row" fxLayoutGap="24px">
      <mat-form-field>
        <app-input-file formControlName="requiredfile" placeholder="Import file" valuePlaceholder="No file selected" required></app-input-file>
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error *ngIf="form.get('requiredfile').hasError('required')">
          Please select a file
        </mat-error>
        <mat-error *ngIf="form.get('requiredfile').hasError('maxContentSize')">
          The total size must not exceed {{form.get('requiredfile')?.getError('maxContentSize').maxSize }}
          ({{form.get('requiredfile')?.getError('maxContentSize').actualSize }}).
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
  <div mat-dialog-actions fxLayout="row">

    <span fxFlex><!-- fill space --></span>

    <button [disabled]="!form.valid" (click)="send()" class="save" fxFlexOffset="8px" mat-raised-button color="primary">
      Import
    </button>
  </div>
</div>

