<div mat-dialog-content class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="0">
  <span>Edit Schedule</span>
  <button matDialogClose mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" novalidate>

  <mat-form-field class="input-container" style="width:40%;">
    <mat-select placeholder="Frequency" formControlName="frequency">
      <mat-option value="MONTHLY">Monthly</mat-option>
      <mat-option value="DAILY">Daily</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-container" style="width:40%;">
    <mat-select placeholder="End Type" formControlName="endType" [(ngModel)]="endType" >
      <mat-option value="END_DATE">By end date</mat-option>
      <mat-option value="REPEATS">After repeats</mat-option>
      <mat-option value="NO_END">No end</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-container" style="width:40%;">
    <input matInput [matDatepicker]="datepickerRef1" placeholder="Start Date" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="datepickerRef1"></mat-datepicker-toggle>
    <mat-error>
      Start Date is required
    </mat-error>
  </mat-form-field>
  <mat-datepicker #datepickerRef1></mat-datepicker>

  <mat-form-field *ngIf="endType=='END_DATE'" class="input-container" style="width:40%;">
    <input matInput [matDatepicker]="datepickerRef2" placeholder="End Date" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="datepickerRef2"></mat-datepicker-toggle>
    <mat-error>
      End Date is required
    </mat-error>
  </mat-form-field>
  <mat-datepicker #datepickerRef2></mat-datepicker>

  <mat-form-field *ngIf="endType=='REPEATS'" class="input-container" style="width:40%;">
    <input matInput type="number" placeholder="Number of repeats" formControlName="numberOfRepeats">
  </mat-form-field>

  <mat-form-field class="input-container" style="width:40%;">
    <input matInput type="number" placeholder="Interval" formControlName="interval">
  </mat-form-field>

</form>
<div mat-dialog-actions fxLayout="row">

  <span fxFlex>
    <!-- fill space -->
  </span>

  <button [disabled]="!form.valid" (click)="create()" class="save" fxFlexOffset="8px" mat-raised-button color="primary">
    Save
  </button>
</div>