<div class="form-elements">
  <vr-page-header [height]="'180px'" background="url(/assets/img/demo/headers/mac-1.png)" [reverse]="true"></vr-page-header>

  <div class="container">
    <vr-breadcrumbs [currentPage]="'Account Type Details'" [names]="['Settings']" [header]="'primary'"></vr-breadcrumbs>

    <div fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">
        <div class="basic-forms card alternative" fxFlex="100%" fxFlex.gt-sm>
          <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <div class="title">Create Account Type</div>
              <div class="sub-title">Define data elements and processing rules for Account Type</div>
            </div>
          </div>

          <div class="content" fxLayout="column">
            <div class="result" fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Name" type="text" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>