<div class="form-wizard-page">
  <vr-page-header [height]="'163px'" background="url(/assets/img/demo/headers/pattern-2.png)" [reverse]="true"></vr-page-header>
  <div class="container always">

    <vr-breadcrumbs [currentPage]="'Account Open'" [names]="['Data']" [header]="'primary'"></vr-breadcrumbs>

    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="details_form">
        <form [formGroup]="details_form" novalidate>
          <ng-template matStepLabel>Enter account details</ng-template>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="0">

            <div class="cart" fxFlex="50%">
              <h3>Amounts</h3>
              <div *ngFor="let amountElement of process.amounts; let i=index">
                <mat-form-field fxFlex>
                  <input matInput type="number" placeholder="{{amountElement.labelName}}" formControlName="{{amountElement.propertyName}}"
                    required class="input-right-align">
                  <mat-error>
                    {{amountElement.labelName}} number is required.
                  </mat-error>
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
            </div>

            <div class="cart" fxFlex="50%">
              <h3>Dates</h3>
              <div *ngFor="let dateElement of process.dates; let i=index">
                <mat-form-field fxFlex>
                  <input matInput [matDatepicker]="datepickerRef" placeholder="{{dateElement.labelName}}" formControlName="{{dateElement.propertyName}}">
                  <mat-datepicker-toggle matSuffix [for]="datepickerRef"></mat-datepicker-toggle>
                  <mat-error>
                    {{dateElement.labelName}} number is required.
                  </mat-error>
                </mat-form-field>
                <mat-datepicker #datepickerRef></mat-datepicker>
              </div>
            </div>

          </div>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="0">
            <div class="cart" fxFlex="50%">
              <h3>Calendar</h3>
              <div>
                <mat-form-field fxFlex>
                  <mat-select fxFlex formControlName="{{process.calendar.propertyName}}" placeholder="{{process.calendar.labelName}}">
                    <mat-option *ngFor="let calendarName of process.calendar.calendarNames" [value]="calendarName">
                      {{calendarName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="details_form.controls['businessDayCalculator'].hasError('required')">
                    Calendar is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="cart" fxFlex="50%">
              <h3>Options</h3>
              <div *ngFor="let optionElement of process.options">
                <mat-form-field fxFlex>
                  <mat-select fxFlex formControlName="{{optionElement.propertyName}}" placeholder="{{optionElement.labelName}}">
                    <mat-option *ngFor="let value of optionElement.value.values" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{optionElement.labelName}}} is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="0">
            <div class="cart" fxFlex="50%">
              <h3>Rates</h3>
              <div *ngFor="let rateElement of process.rates; let i=index">
                <mat-form-field fxFlex>
                  <input matInput type="number" placeholder="{{rateElement.labelName}}" formControlName="{{rateElement.propertyName}}" required
                    class="input-right-align">
                  <mat-error>
                    {{rateElement.labelName}} number is required.
                  </mat-error>
                  <span matPrefix>%&nbsp;</span>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="schedule_form">
        <form [formGroup]="schedule_form">
          <ng-template matStepLabel>Enter schedules</ng-template>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="0">
            <div class="cart" fxFlex="100%">
              <h3>Schedules</h3>
              <div *ngFor="let element of process.schedules; let i=index">
                <vr-select-schedule fxFlex="400px" placeholder="{{element.labelName}}" schedule="{{element.value}}"></vr-select-schedule>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="instalment_form">
        <form [formGroup]="instalment_form">
          <ng-template matStepLabel>Calculate Instalments </ng-template>
          <div class="account-details">
            <div class="cart" fxLayout="column" fxLayoutGap="24px">
              <div *ngFor="let element of process.instalments; let i=index">
                <mat-form-field>
                  <input matInput placeholder="{{element.labelName}}" formControlName="{{element.propertyName}}" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </div>
</div>