<div class="form-wizard-page">
  <vr-page-header [height]="'163px'" background="url(/assets/img/demo/headers/pattern-2.png)" [reverse]="true"></vr-page-header>
  <div class="container always">

    <vr-breadcrumbs [currentPage]="'Account Open'" [names]="['Data']" [header]="'primary'"></vr-breadcrumbs>

    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="details_form">
        <form [formGroup]="details_form" novalidate>
          <ng-template matStepLabel>Enter account details</ng-template>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="10">

            <div class="cart" fxFlex="25%">
              <h3>Amounts</h3>
              <div *ngFor="let amountType of accountType.amountTypes; let i=index">
                <mat-form-field fxFlex *ngIf="amountType.required" >
                  <input matInput type="number" placeholder="{{amountType.labelName}}" formControlName="{{amountType.propertyName}}"
                    required class="input-right-align">
                  <mat-error>
                    {{amountType.labelName}} number is required.
                  </mat-error>
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
                <mat-form-field fxFlex *ngIf="amountType.required==false" >
                  <input matInput type="number" placeholder="{{amountType.labelName}}" formControlName="{{amountType.propertyName}}" class="input-right-align">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
            </div>

            <div class="cart" fxFlex="25%">
              <h3>Dates</h3>
              <div *ngFor="let dateType of accountType.dateTypes; let i=index">
                <mat-form-field fxFlex>
                  <input matInput [matDatepicker]="datepickerRef" placeholder="{{dateType.labelName}}" formControlName="{{dateType.propertyName}}">
                  <mat-datepicker-toggle matSuffix [for]="datepickerRef"></mat-datepicker-toggle>
                  <mat-error>
                    {{dateType.labelName}} is required.
                  </mat-error>
                </mat-form-field>
                <mat-datepicker #datepickerRef></mat-datepicker>
              </div>
            </div>
            <div class="cart" fxFlex="25%">
              <h3>Rates</h3>
              <div *ngFor="let rateType of accountType.rateTypes; let i=index">
                <mat-form-field fxFlex>
                  <input matInput type="number" placeholder="{{rateType.labelName}}" formControlName="{{rateType.propertyName}}" required
                    class="input-right-align">
                  <mat-error>
                    {{rateType.labelName}} number is required.
                  </mat-error>
                  <span matPrefix>%&nbsp;</span>
                </mat-form-field>
              </div>
            </div>
            <div class="cart" fxFlex="25%">
              <h3>Options</h3>
              <div *ngFor="let optionType of accountType.optionTypes">
                <mat-form-field fxFlex>
                  <mat-select fxFlex formControlName="{{optionType.propertyName}}" placeholder="{{optionType.labelName}}">
                   <mat-option *ngFor="let value of account.options | optionValues:optionType.propertyName" [value]="value">
                      {{value}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    {{optionType.labelName}} is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext (click)="onDetailsNextStep($event)" >Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="schedule_form">
        <form [formGroup]="schedule_form">
          <ng-template matStepLabel>Enter schedules</ng-template>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="0">
            <div class="cart" fxFlex="100%">
              <h3>Schedules</h3>
              <div *ngFor="let scheduleType of accountType.scheduleTypes; let i=index">
                <vr-select-schedule fxFlex="400px" placeholder="{{scheduleType.labelName}}" ></vr-select-schedule>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="instalment_form">
        <form [formGroup]="instalment_form">
          <ng-template matStepLabel>Calculate Instalments </ng-template>
          <div class="account-details">
            <div class="cart" fxLayout="column" fxLayoutGap="24px">
              <div *ngFor="let instalmentType of accountType.instalmentTypes; let i=index">
                <mat-form-field>
                  <input matInput placeholder="{{instalmentType.labelName}}" formControlName="{{instalmentType.propertyName}}" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </div>
</div>