@import "../../../../styles/_var.scss";

.input-right-align {
  text-align: right;
}

input.input-right-align::-webkit-outer-spin-button,
input.input-right-align::-webkit-inner-spin-button {
  display: none;
}

input.input-right-align {
  -moz-appearance: textfield;
}

.form-wizard-page {
  font-size: 15px;

  @include responsivePadding();

  .card.alternative {
    padding: 0;

    .account-details {

      @include responsivePadding();
      margin-bottom: 0px;

    }

    .confirmation {
      @include responsivePadding();

      .cart {
        margin-top: 24px;
      }
    }
  }

  .cart {
    color: $color__text-darker;

  }

  .tab-navigation {
    @include responsivePadding();
  }
}
